<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>922830836172-o3err4mm62odc7l9ncmb9n7vl2ccj3aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922830836172-o3err4mm62odc7l9ncmb9n7vl2ccj3aj</string>
	<key>API_KEY</key>
	<string>AIzaSyCFHmDK0xUA9mL2aW0Q0Oa5Da4NNTAh17I</string>
	<key>GCM_SENDER_ID</key>
	<string>922830836172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.KeyStage1</string>
	<key>PROJECT_ID</key>
	<string>elitmus-daf04</string>
	<key>STORAGE_BUCKET</key>
	<string>elitmus-daf04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922830836172:ios:4d8d1e03185954cc</string>
	<key>DATABASE_URL</key>
	<string>https://elitmus-daf04.firebaseio.com</string>
</dict>
</plist>